<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Canonical HTTPS Host" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
              <add input="{HTTP_HOST}" pattern="^kidsparadise\.shoptick\.shop$" negate="true" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://kidsparadise.shoptick.shop/{R:1}" redirectType="Permanent" appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\KidsParadiseByShoptick.APIs.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!-- deploy:2026-06-21T12:00:00 -->
